.EditForm {
  background: white;
  width: 70%;
  margin: 0 auto;
  border: 2px solid;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-radius: 5px;
}
.EditBtn {
  color: #ffffff;
  background-color: #000000;
  border-color: #ccc;
  font-size: 20px;
  font-weight: normal;
  font-family: "BebasNeue Regular";
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}

.UniformBtn {
  width: 222px !important;
}

