.brand {
  background: #2c2c34 !important;
}

.brand-text {
  color: #2c2c34 !important;
}

.brand-logo {
  text-transform: uppercase;
  font-weight: bold;
}

body,
h1,
h2,
h3,
h4,
h5,
.w3-wide {
  font-family: "Montserrat", sans-serif;
}

.tag-icon {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  height: 0px;
}

.empty-cart {
  width: 200px;
  position: relative;
  top: 50px;
}

.empty-cart-btn {
  width: 250px;
}

.big-icon {
  font-size: 250px;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
