.brand {
  background: #2c2c34 !important;
}

.brand-text {
  color: #2c2c34 !important;
}

.brand-logo {
  text-transform: uppercase;
  font-weight: bold;
}

body,
h1,
h2,
h3,
h4,
h5,
.w3-wide {
  font-family: "Montserrat", sans-serif;
}

.product-icon {
  width: 100px;
  margin: 40px auto -30px;
  display: block;
  position: relative;
  top: -30px;
}

.tag-icon {
  width: 40px;
  position: relative;
  top: 10px;
  display: inline;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  height: 0px;
}

.empty-cart {
  width: 200px;
  position: relative;
  top: 50px;
}

.empty-cart-btn {
  width: 250px;
}
