.recent-icon {
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
  margin: 15px;
  position: relative;
}

.welcome-label {
  border-radius: 25px;
  background: black;
  padding: 10px;
}

.discount-label {
  border-radius: 10px;
  background: #ff3333;
  padding: 2px;
}

.product-icon {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  margin: 40px auto -30px;
  display: block;
  position: relative;
  top: -30px;
}

.img-container {
  width: 100px;
  min-height: 100px;
  max-height: auto;
  float: left;
  text-align: center;
}

.popular {
  width: 100px;
  min-height: 100px;
  max-height: auto;
  float: left;
  text-align: center;
}

.category-icon {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.category-text {
  margin-top: 40px;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.card:hover .category-icon {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}