.promo-icon {
  width: 200px;
  height: auto;
  border-style: dashed;
  display: inline-block;
}

.promo-text {
  display: inline-block;
  margin: 10px;
  top: 20px;
  position: absolute;
  font-size: 16;
}
