.rating
{
	clear:both;
	height:100px;
	width:400px;
	padding:10px;
	border-radius:3px;
}

.rating img
{
	margin-top:10px;
	width:50px;
	height:50px;
	float:left;
}
.word
{
	margin:0px;
	font-size:20px;
	text-align:left;
	
}

.icon
{
	width:200px;
	height:200px;
}

input[type="submit"]
{
	border:none;
	background:none;
	background-color:#585858;
	width:100px;
	height:50px;
	color:white;
	border-radius:3px;
	font-size:17px;
	margin-top:20px;
}